<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1><i>ABOUT CSK</i></h1>
        <p>Chennai Super Kings (CSK) is an Indian Premier League (IPL) franchise cricket team based in Chennai, Tamil Nadu, India. Founded in 2008, the team plays its home matches at the M. A. Chidambaram Stadium in Chennai.<br>
            The team is owned by India Cements Limited through the Chennai Super Kings Cricket Limited holding company. <br>
            The team was suspended for two years from the IPL starting July 2015 due to the involvement of its owners in the 2013 IPL betting case,[1] and won the title in its comeback season of 2018.<br> 
            The team is captained by MS Dhoni and coached by Stephen Fleming.<br>
            In January 2022, CSK became India's first unicorn sports enterprise.<br>

            The Super Kings have won the IPL title four times (in 2010, 2011, 2018, and 2021), and have the highest win percentage of matches among all teams in the IPL (58.98%).<br>
            They hold the records of most appearances in the playoffs (Twelve) and the Final (Ten) of the IPL.<br>
            In addition, they have also won the Champions League Twenty20 in 2010 and 2014. The brand value of the Super Kings in 2019 is estimated to be around ₹732 crore (roughly $104 million), making them one of the most valuable IPL franchises.<br></p>
</body>
</html>