<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2><i>ABOUT RCB</i></h2>
        <p>Royal Challengers Bangalore, also known as RCB, is the Bengaluru-based cricket franchise of the Indian Premier League (IPL).<br>
           The team is owned by United Spirits Limited, a Diageo Group company.<br>RCB rose from a bottom-two finish in 2008 to end as runners-up in 2009 and semi-finalists in 2010.</p>
    
</body>
</html>